@use 'variables'as var;

.footer {
    padding-bottom: 1.25rem;

    &__wrapper {
        display: grid;
        padding-inline: 1.25rem;

        @media screen and (width > var.$tablet-width) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                                "text text socials"
                                "links links links";
        }
    }

    &__lists-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        @media screen and (width > var.$tablet-width) {
            grid-area: links;
            grid-template-columns: repeat(3, 1fr);
            gap: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__text {
        @media screen and (width > var.$tablet-width) {
            grid-area: text;
        }

    }

    &__title {
        color: var.$black-secondary;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 400;
    }

    &__link {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }

}