@use 'variables' as var;

.header {
    padding-block: 25px;
    // max-width: 280px;
    margin: 0 auto;

    @media screen and (width > var.$tablet-width) {
        // max-width: 690px;
    }

    @media screen and (width > var.$desktop-width) {
        padding-block: 48px;
        max-width: 1280px;
    }
}