@use 'variables'as var;

.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    background-color: var.$green-bg;
    // max-width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 16px;
    padding: 1.25rem;
    background-image: url('../../public/assets/images/hero-bg.webp');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50% 100%;

    @media screen and (width > var.$tablet-width) {
        display: grid;
        justify-content: start;
        // max-width: 690px;
        text-align: left;
        background-position: right;
        background-size: 50% 100%;
        margin-bottom: 40px;
        padding: 2rem;
    }

    @media screen and (width > var.$desktop-width) {
        max-width: 1280px;
        min-height: 585px;
        margin-bottom: 120px;
        padding-top: 5.5rem;
        padding-left: 3.75rem;
        padding-bottom: 2.56rem;
    }

    &__wrapper {
        @media screen and (width > var.$tablet-width) {
            max-width: 400px;
        }

        @media screen and (width > var.$desktop-width) {
            max-width: 600px;
        }
    }

    &__title {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 600;
        text-align: left;
        font-weight: 600;
        margin-bottom: 20px;

        @media screen and (width > var.$tablet-width) {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 25px;
        }
    
        @media screen and (width > var.$desktop-width) {
            font-size: 4rem;
            line-height: 5rem;
            margin-bottom: 30px;
        }
    }

    &__text {
        text-align: left;
        margin-bottom: 20px;

        @media screen and (width > var.$tablet-width) {
            max-width: 280px;
        }

        @media screen and (width > var.$desktop-width) {
            max-width: 515px;
            font-size: 1.25rem;
            line-height: 2rem;
            margin-bottom: 50px;
        }
    }

    &__button {
        background-color: transparent;
        padding: 5px 15px 5px 50px;
        border-radius: 40px;
        margin-bottom: 20px;
        // background-image: url('../../public/assets/vectors/sprite.svg#button-watchVideo');
        background-image: url('../../public/assets/vectors/button-watchVideo.svg');
        background-repeat: no-repeat;
        background-size: 36px 36px;
        background-position: 0 0;

        @media screen and (width > var.$desktop-width) {
            font-size: 1.25rem;
            line-height: 1.875rem;
        }
    }
}