@use 'variables'as var;

.history {
    padding: 1.25rem;
    background-color: var.$green-bg;
    // max-width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 16px;

    @media screen and (width > var.$tablet-width) {
        display: flex;
        justify-content: flex-end;
        text-align: left;
        background-image: url('../../public/assets/images/history-bg.webp');
        background-repeat: no-repeat;
        background-size: 50% 100%;
        margin-bottom: 40px;
        min-height: 377px;
        // max-width: 645px;
        padding: 2.25rem;
    }

    @media screen and (width > var.$desktop-width) {
        margin-bottom: 7.5rem;
        max-width: 1280px;
        min-height: 520px;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 70px;
        padding-top: 76px;
        padding-right: 85px;
        column-gap: 130px;
    }

    &__wrapper {
        display: grid;
        justify-items: center;
        padding-bottom: 0;
        border-radius: 16px;

        @media screen and (width > var.$tablet-width) {
            justify-items: left;
            // max-width: 240px;        
            width: clamp(250px, 45%, 520px);
            padding: 0;
        }

        @media screen and (width > var.$desktop-width) {
            grid-column-start: 2;
            max-width: 100%;
        }
    }

    &__text {
        // max-width: 300px;

        @media screen and (width > var.$desktop-width) {
            max-width: 100%;
        }
    }

    &__button {
        padding: 10px 10px;
        width: 125px;

    
        @media screen and (width > var.$desktop-width) {
            padding: 20px 10px;
            height: fit-content;
        }
    }
}