@use 'variables'as var;

.intro {
    margin-bottom: 20px;

    @media screen and (width > var.$tablet-width) {
        margin-bottom: 40px;
    }
    
    @media screen and (width > var.$desktop-width) {
        margin-bottom: 120px;
    }
    
    @media screen and (width > var.$tablet-width) {

    }
    
    @media screen and (width > var.$desktop-width) {
        margin-bottom: 120px;
    }
}

