@use 'variables'as var;

.navigation {
    @media screen and (width > var.$desktop-width) {
        max-width: 1280px;
    }


    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media screen and (width > var.$tablet-width) {
            gap: 93px;
            flex-wrap: nowrap;
        }
    
        @media screen and (width > var.$desktop-width) {
            gap: 326px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        @media screen and (width > var.$desktop-width) {
            align-items: center;
        }
    }

    &__link {
        display: block;
        padding-inline: 7px;
        padding-block: 3px;

        @media screen and (width > var.$tablet-width) {

        }
    
        @media screen and (width > var.$desktop-width) {
            padding: 15px;
        }
    }

    &__button {
        background-color: var.$green-main;
        padding: 5px 15px;
        border-radius: 40%;
        color: var.$white-main;

        @media screen and (width > var.$tablet-width) {
            padding: 5px;
            max-height: 40px;
            width: 80px;
            text-align: center;
        }
    
        @media screen and (width > var.$desktop-width) {
            border-radius: 35%;
            font-size: 0.875rem;
            line-height: 1.25rem;
            width: 76px;
        }
    }
}