@use 'variables' as var;

.navigation {
    @media screen and (width > var.$desktop-width) {
        max-width: 1280px;
    }


    &__wrapper {

        @media screen and (width > var.$tablet-width) {
            gap: 93px;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-top: 0;
        }


        @media screen and (width > var.$desktop-width) {
            position: static;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 326px;
          }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var.$green-bg;
        margin-bottom: 0.5rem;

        @media screen and (width > var.$tablet-width) {
            flex-direction: row;            
            flex-wrap: wrap;
            justify-content: center;
            background-color: var.$white-main;
            margin-bottom: 0;
        }
    
        @media screen and (width > var.$desktop-width) {
            align-items: center;
        }
    }

    &__item {
        min-width: 250px;

        @media screen and (width > var.$tablet-width) {
            min-width: 60px;
        }
    }

    &__link {
        display: block;
        padding-inline: 1rem;
        padding-block: 2rem;
        color: var.$black-secondary;
        text-align: center;

        @media screen and (width > var.$tablet-width) {
            padding: 1rem;
            padding-block: 0.5rem;
            min-width: 67px;
        }
    
        @media screen and (width > var.$desktop-width) {
            padding: 1.25rem;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    &__button {    
        @media screen and (width > var.$desktop-width) {
            padding: 10px 20px;
        }
    }
}


  .navigation--opened .navigation__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: var.$white-main;
    padding-top: 0.7rem;
    margin-right: 1rem;

  }
  
  .navigation--closed .navigation__wrapper {
    display: none;
  
    @media screen and (width > var.$tablet-width) {
      display: flex;
      flex-direction: row;
    }

    @media screen and (width > var.$tablet-width) {
        justify-content: space-between;
    }
  }
  
  .navigation--nojs .navigation__wrapper {
    @media screen and (width > var.$tablet-width) {
      display: block;
    }
  }