@use 'variables' as var;

.overlay {
    /* для скрытия подложки  */
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var.$green-bg;
    z-index: 3;
    transition: .3s all;
  
    &.active {
      opacity: 0.9;
      visibility: visible;
  }
  }