@use 'variables' as var;

.review {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    bottom: 40px;
    z-index: 1;
    background-color: var.$white-main;
    color: var.$black-main;
    padding: 20px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    width: 300px;
    left: 20px;
  
    p {
      margin: 0;
    }
  
    &__avatar {
      position: relative;
  
      img {
        position: absolute;
        right: -24px;
        top: -60px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid var.$white-main;
      }
    }

    &__info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin-bottom: 30px;
      }
}