@use 'variables' as var;

.swiper-intro {
    .swiper-slide-wrapper {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      max-width: 100%;
    }
  
    &__gallery {
      width: 50%;
  
      &:hover {
        .review {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }
  
  }
