$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;

$desktop-padding-x: 80px;
$tablet-padding-x: 40px;
$mobile-padding-x: 20px;

$green-main: #24AB70;
$green-bg: rgba(246, 252, 249, 100);
$white-main: #ffffff;
$white-secondary: #FAFAFA;
$black-main: #000000;
$black-secondary: #222222;
$border-gray: #E8E8E8;
$gray-555555: #555555;
$gray-0C1623: #0C1623;
$gray-1D263A: #1D263A;